TZ=Asia/Shanghai
ADMIN_TOKEN=change-this-admin-token
OPENROUTER_API_KEY_FILE=/workspace/sumika/secrets/openrouter_key
OPENROUTER_MODEL=openrouter/free
OPENROUTER_REASONING_EFFORT=xhigh
OPENROUTER_REASONING_EXCLUDE=true
OPENROUTER_REASONING_MIN_TOKENS=1200
ONEBOT_ACCESS_TOKEN=change-this-onebot-token
OUTBOUND_MESSAGE_DELAY_MIN_SECONDS=1
OUTBOUND_MESSAGE_DELAY_MAX_SECONDS=5
EGRESS_INTERFACE=auto
EGRESS_MONTHLY_HARD_GIB=20
EGRESS_MONTHLY_SOFT_GIB=16
PROACTIVE_ENABLED=true
SEARCH_ENABLED=true
OCR_ENABLED=true
ASR_ENABLED=false
NAPCAT_UID=1000
NAPCAT_GID=1000
